body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {text-decoration: none;}

a:link, a:visited {
    background-color: #1E90FF;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

a:hover{
    background-color: #00BFFF;
}

.direita {
    margin-top: 50px;
    float: right;
}

.esquerda {
    margin-top: 50px;
    float: left;
}

.espaco {
    clear: both;
}